<h1 class="text-center" mat-dialog-title>{{ data.update ? 'Update user' : 'New user'}}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="d-flex flex-column align-items-center">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Enter your name" formControlName="nombre">
                <mat-error *ngIf="form.get('nombre')?.hasError('pattern')">Please only letters</mat-error>
                <mat-error *ngIf="form.get('nombre')?.hasError('required')">Name is <b>required</b></mat-error>  
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Surname</mat-label>
                <input matInput placeholder="Enter your surname" formControlName="apellido">
                <mat-error *ngIf="form.get('apellido')?.hasError('pattern')">Please only letters</mat-error>
                <mat-error *ngIf="form.get('apellido')?.hasError('required')">Surname is <b>required</b></mat-error>  
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="example@gmail.com" formControlName="email">
                <mat-error *ngIf="form.get('email')?.hasError('email')">Please enter a valid email</mat-error>
                <mat-error *ngIf="form.get('email')?.hasError('required')">Email is <b>required</b></mat-error>                          
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Cell-phone</mat-label>
                <input matInput placeholder="+54 9 2344 50 9812" formControlName="telefono">
            </mat-form-field>
        </div>

        <div class="col d-flex justify-content-center">
            <button mat-raised-button type="button" color="warn" class="me-1" (click)="cancelClick()">Cancel</button>
            <button mat-raised-button type="submit" color="primary" class="ms-1">Confirm</button>
        </div>
        
    </div>
</form>




